.project_nav{
    margin:12px;
    padding-bottom:16px;
    border-bottom:1px solid #ccc;
    font-size: 12px;
}
ol li{
    display:inline-block;
}
.project_list{
   font-size: 12px;
   margin:5px;
   padding-top:10px;
   padding-bottom:10px;
   border-bottom:1px solid #ccc;
}
.new{
float:right;
margin-top:-8px;
}
.add_project{
font-size: 12px;
margin:5px;
padding-top:10px;
padding-bottom:10px;
border-bottom:1px solid #ccc;
}
.layui-card{
border:1px;
margin:12px;
}
.layui-card-header{
background:#f0f3f5;
}
