<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">

</head>
<body class="layui-layout-body layui-anim layui-anim-fadein" id='by' style="height:100%">
<div class="layui-layout layui-layout-admin" >
      <div class="layui-header"style="position:fixed;width:100%;height:60px;">
        <div class="layui-logo" style="width:10%">
          <div class="layui-inline">
            <img src="../static/image/1.jpg" class="layui-circle" style="width:50px">
          </div>
        </div>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item"><a href="/">首页</a></li>
          <li class="layui-nav-item"><a href="#login">登录</a></li>
        </ul>
      </div>

{% block body %}{% endblock %}

  <div class="layui-row layui-anim layui-anim-fadein layui-bg-gray">
    <div class="layui-row layui-col-space15" style="padding:6%;margin:auto 10%;">
        <div class="layui-col-md4">
          <div class="layui-card">
            <div class="layui-card-header">介绍</div>
            <div class="layui-card-body">
              欢迎注册，第一次做网站，可能比较差劲<br>
              主要用来学习后端
            </div>
          </div>
        </div>
        <div class="layui-col-md4">
          <div class="layui-card">
            <div class="layui-card-header">解码功能</div>
            <div class="layui-card-body">
              主要有各种加密解码功能<br>
              必须总需要去百度解码地址
            </div>
          </div>
        </div>
        <div class="layui-col-md4">
          <div class="layui-card">
            <div class="layui-card-header">日常工作</div>
            <div class="layui-card-body">
              主要解决日常工作数据库，接口等<br>
              0.0
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="layui-row layui-bg-black"style="height:200px;border-top:#71a797 8px solid;">
        <img src="../static/image/logo.gif" class="f_image">
    <div class="layui-col-xs6 layui-col-md12">
      <div class="grid-demo grid-demo-bg2">
        <div class="footer ">
            <p>Life was like a box of chocolates, you never know what you're gonna get. </p>
        </div>
      </div>
    </div>
  </div>

</div>
<link rel="stylesheet" href="../static/css/index.css">
<script src="../static/layui/layui.js"></script>
<script src="../static/js/index.js"></script>
</body>
</html>
